<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>草图</title>
    <link rel="stylesheet" type="text/css" href="../css/indexDemo.css">
</head>

<body>
    <!--页面-->
    <div class="webpage">

        <div class="header">

            <div class="logo">logo</div>



            <div class="login-register">
                <div class="login"><a href="#">登录</a></div>
                <div class="register"><a href="#">注册</a></div>
            </div>

            <div class="search">
                <a href="#">search</a>
            </div>
        </div>

        <div class="hot">
            <div class="scroll">轮播图</div>
            <div class="news">
                <div class="news-up">新闻1</div>
                <div class="news-bottom">新闻2</div>
            </div>
        </div>
        <div class="main">
            <div class="article-list">
                <div class="article">
                    <h2>文章标题</h2>


                    <p>hello</p>&nbsp;
                    <button onclick="sound();">hello</button>
                    <audio id="sound" class="sound"  src="http://dict.youdao.com/dictvoice?audio=hello"></audio>
                    <script>
                        function sound() {
                            var sound = document.getElementById('sound');
                            if(sound.paused){
                                sound.play();
                            }else {
                                sound.pause();
                            }


                        }
                    </script>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                </div>
                <div class="article">
                    <h2>文章标题</h2>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                </div>
                <div class="article">
                    <h2>文章标题</h2>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                </div>
                <div class="article">
                    <h2>文章标题</h2>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                </div>
                <div class="article">
                    <h2>文章标题</h2>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                </div>
                <div class="article">
                    <h2>文章标题</h2>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                </div>
                <div class="article">
                    <h2>文章标题</h2>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                </div>
                <div class="article">
                    <h2>文章标题</h2>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                </div>
                <div class="article">
                    <h2>文章标题</h2>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                </div>
                <div class="article">
                    <h2>文章标题</h2>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                </div>
                <div class="article">
                    <h2>文章标题</h2>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                    <p>文章内容：java是世界上最好的编程语言</p>
                </div>
            </div>
            <div class="side-bar">
                <div class="hot-classification"></div>
                <div class="hot-article"></div>
                <div class="hot-section"></div>
            </div>
        </div>

        <div class="footer">底部</div>
    </div>
</body>
</html>