<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin: 50px 0 0 200px;width: 1500px;height: 100%; ;">
    <form action="" >
        <label for="novel">选择小说：</label>
        <select name="" id="novel" style="font-size: 18px">
            <option value="">基地系列-迈向基地</option>
            <option value="">基地系列-基地前奏</option>
            <option value="">基地系列-基地</option>
            <option value="">基地系列-基地与帝国</option>
            <option value="">基地系列-第二基地</option>
            <option value="">基地系列-基地边缘</option>
            <option value="">基地系列-基地与地球</option>
        </select>
        <br>
        <br>
        <label for="novel_chapter_en">章节名（英文）</label>
        <input type="text" id="novel_chapter_en" style="height: 40px;font-size: 20px;width: 500px;padding-left: 10px">
        <br>
        <br>
        <label for="novel_chapter_cn">章节名（中文）</label>
        <input type="text" id="novel_chapter_cn" style="height: 40px;font-size: 20px;width: 500px;padding-left: 10px">
        <br>
        <br>
        <div >
            <div style="width: 620px;float: left;padding-right: 20px;">
                <textarea id="para_en" style="width: 600px;height: 600px;font-size: 16px">

        </textarea></div>
            <div style="width: 600px;float: left;">
                <textarea id="para_cn" style="width: 600px;height: 600px;font-size: 16px">

        </textarea></div>
        </div>


    </form>
</div>

</body>
<script>

</script>
</html>