<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../static/bootstrap-3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/resetPassword.css">
</head>
<body style="margin-top: 20px;">
    <div class="container loginArea" >
    <div class="row loginBox" style="padding-top: 20px;">
        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-3"
             style="display:flex;justify-content: center;">
            <img src="../../static/img/logo/logo200.png" alt="">
        </div>

        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-3"
             style="display:flex;justify-content: center;">
            <h2>找回密码</h2>
        </div>

        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
            <div class="row ">
                <!--                    <div class="col-xs-2" style="padding: 0;"><img src="../../static/img/learner/user.png" alt="" style="width: 30px;"></div>-->
                <div class="col-xs-10 col-xs-offset-1 emailBox" style="padding: 0;" >
                    <input type="text" placeholder="email" id="email">
                </div>
                <div class="col-xs-10 col-xs-offset-1 emailMsgBox" style="padding: 0;">
                    <span class="emailMsg">邮箱错误提示区</span>
                </div>
            </div>
        </div>


        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
            <div class="row">
                <!--                    <div class="col-xs-2" style="padding: 0;"><img src="../../static/img/learner/user.png" alt="" style="width: 30px;"></div>-->
                <div class="col-xs-4 col-xs-offset-2" style="padding:20px 0;">
                    <a href="/learner/gotoLogin">去登录</a>
                </div>
                <div class="col-xs-4 " style="padding: 20px 0;text-align:right;">
                    <a href="/learner/gotoRegister">去注册</a>
                </div>

            </div>
        </div>

        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
            <div class="row" style="margin: 20px auto;">
                <!--                    <div class="col-xs-2" style="padding: 0;"><img src="../../static/img/learner/user.png" alt="" style="width: 30px;"></div>-->
                <div class="col-xs-8 col-xs-offset-2 findPass" >
                    找 回 密 码
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>

<script src="../../static/jq/jquery.min.js"></script>
<script>
    // 找回密码
    $(".findPass").click(function () {
        let str = {email:$("#email").val()};
        let data = JSON.stringify(str);
        $(this).html("发送中...");
        $.ajax({
            type: "post",
            async: true,     //异步执行
            contentType: "application/json;charset=UTF-8",
            url: "/learner/findPassword",
            data:data,         //发送给数据库的数据
            dataType: "json", //json类型
            success: function(result) {
                window.location.href = "/";
            },
            error: function(errmsg) {
                console.log("Ajax获取服务器数据出错了！"+ errmsg);
            }

        })
    })

</script>