
.topTab{
    width: 100%;
    position: fixed;
    background-color: #cacbd0;
    height: 50px;
    padding: 5px 15px 5px 15px;
    font-size: 24px;
    line-height: 40px;
    z-index: 2;
    box-shadow: 2px 2px 2px rgba(34, 51, 51, 0.53);
}
.topTab .row{
    height: 30px;
    /*padding: 10px 0 10px 0;*/
}
.topTab .row>div{
    padding: 0;
}
.topTab span{
    width: 80%;
}
.topTab .back{

}
.topTab {
    text-align: center;
}
.topTab  p{
    font-size: 18px;
    margin: 0;
    padding: 0 0 0 15px;
}

.topTab .back span:hover, .topTab .gotoBookDetail span:hover{
    background-color: #f7f7f7;
    /*margin: 0;*/
    /*padding: 0;*/
}
.topTab a{
    color: #000;
    text-decoration: none;
}