*{
    padding: 0;
    margin: 0;
}





.myWordbook{
    background-color: #fff;
    padding: 2% 2% 15% 2%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(34, 51, 51, 0.29);
    margin: 55px -10px 0px -10px;

}
.myWordbook .bookImg{

    padding:  5% 5% 0 5%;
    cursor: pointer;
    position: relative;
    /**/
    -moz-border-radius: 7%;
    -webkit-border-radius: 7%;
    border-radius: 7%;

}


.myWordbook .bookImg img{
    width: 100%;
    border-radius: 7%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);

}
.myWordbook .wordbookInfo{
    padding:  7% 5% 0 5%;

    /*margin: 7% 2%;*/
}
.myWordbook .wordbookInfo p{
    font-size: 14px;
    /*font-weight: bold;*/
    word-break:normal;
    text-indent: 2em;
    word-wrapL:break-word;
}

.myWordbookBox{
    position: relative;
}


.addOrRemoveWordbook{
    right: 10%;
    bottom: 10%;
    position: absolute;

}

.addOrRemoveWordbook span{
    /*font-family: "华文细黑";*/
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(92, 184, 255, 0.59);
    padding: 7px;
    color: #fff;
    box-shadow:  0px 3px 3px #223333;
    cursor: pointer;
}

.addOrRemoveWordbook span:hover{
    background-color: #60d1ff;
}

#words{
    position: relative;
    /*display: none;*/
    margin: 15px auto 50px auto;
    font-size: 14px;
}

.wordMean{
    font-size: 12px;
}
#words .row{
    background-color: #fff;
    padding: 1%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(34, 51, 51, 0.29);
    margin: 0 -10px 0px -10px;
    /*border-bottom: 1px solid rgba(34, 51, 51, 0.95);*/
    /*margin: 0 -10px 0 -10px;*/
}
#words .row p{
    margin-bottom: 2px;
}
#words .row span{
    font-size: 18px;
    line-height:26px;
}

#words .row .pron{
    cursor: pointer;
}
#words .row .pron:hover{
    color: #2aabd2;
}

#words .row .word-line{
    height: 1px;
    background-color: rgba(60,60,60,0.47);
}

#words .word{
    font-weight: bold;
}

/*单词列表音标*/
#words .wordList-pron{
    font-style: italic;
    font-size: 12px;
}

.showWordsBtn{
    background-color: #5CB8FF;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    z-index: 10;
}

.showWordsBtn:hover{
    background-color: #60d1ff;
}
.showWordsBtn p{
    line-height: 220%;
    margin: 0;
    font-weight: bold;
    color: #e2fff6;
}

.tipBox{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: rgba(34, 51, 51, 0.71);
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(35, 51, 51, 0.59);
    line-height: 50px;
    font-size: 18px;
    display: none;
    position: fixed;
    left: calc(50% - 100px);
    bottom: calc(50% - 25px);
    z-index: 999
}
/*屏幕大于640px使用*/
@media screen and (min-width: 640px){
    .myWordbook .wordbookInfo p{
        font-size: 18px;
        line-height: 22px;
    }
}

/*屏幕大于800px使用*/
@media screen and (min-width: 800px){
    .myWordbook .wordbookInfo p{
        font-size: 22px;
        line-height: 26px;
    }
}
